images/
.DS_Store
.ipynb_checkpoints
data
output
debug
*.pyc
deep-head-pose
EvalImages
cache*
*.pkl
gif
archive
*.ply
# eval
out

# evaluation:
temp/
shapes/
imgs/
vids/
*.mp4
temp
_notes

stylegan3/results
eg3d/results
eg3d_results




venv/
_notes.txt
_notes/
_help
tmp/
var_tmp/

*.sublime-workspace
**/___*
**/__pycache__
**/.ipynb_checkpoints
**/.directory
**/.Trash*
**/.empty
**/slurm-*
**/lightning_logs
**/slurm
**/runs

